/*Elins browse.php for the project images, hover and click effects*/

.project-img {
    cursor: pointer;
    object-fit: cover;
    height: 250px;
    width: 100%;
    transition: transform 0.2s, filter 0.2s;
}

.project-img:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

/*Elins for the contact.php page, form styling*/

/*Stilsättning för korten som visar designerportföljerna*/
.card {
    border: none;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    margin-bottom: 60px;
}

/*Elsas CSS till auth.php*/

/*Stilsättning för inloggningsformuläret*/
/*Hero-sektionen*/
.hero {
    padding: 2rem;
    background-color: #f8f9fa;
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;

}

fieldset {
    border: 1px solid #ddd;
    padding: 3rem;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
}

.form-group {
    padding: 1rem;
    text-align: left;
}

/*Stilsättning för inloggningsknappen*/
.btn-signin {
    background-color: #7e1f86;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

/*animering för hover på inloggningsknappen*/
.btn-signin:hover {
    color: #5a1460;
    background-color:white;
    transition-duration: 300ms;

}
/*Stilsättning för inloggningssektionen */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 5rem;
}
.contact-page {
    margin-bottom: 100px;
}
